# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
sd-ui/node_modules

# testing
sd-ui/coverage

# production
sd-ui/build

# misc
.DS_Store
sd-ui/.env
sd-ui/npm-debug.log*
sd-ui/yarn-debug.log*
sd-ui/yarn-error.log*

